*, :after, :before {
  box-sizing: border-box;
}
html{
  background: #1c3faa;
}
body{
  margin:0;
  -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: Roboto;
    font-size: .875rem;
    color: #2d3748;
  }
  
